[["scorpio-site-1" :site/url "https://www.scorpiotankers.com" 1 :add]
 ["scorpio-site-1" :site/checked-at "2026-07-18" 1 :add]
 ["scorpio-site-1" :site/http-status 200 1 :add]
 ["scorpio-site-1" :site/title "Marine Transportation Leaders and Innovators | Scorpio Tankers" 1 :add]
 ["scorpio-site-1" :site/description "Our vessels, operating strategy, and experienced leadership make us marine transportation leaders and innovators providing superior results." 1 :add]]
